/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Colours */
header,
.hero,
footer {
    background-color: #394032;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}



header > h1 {
    font-size: 64px;
    font-family: 'Cinzel', 'Helvetica', serif;
    font-weight: 900;
    color: #F9FAF8;
}

nav ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-family: 'Cinzel', 'Helvetica', serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: #E5E7EB;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F9FAF8;
    transition: width .3s;
}

nav a:hover::after {
    width: 100%;
}

header:hover {
	background-color: #363d30;
}

/* Hero */
.hero {
    height: 330px;
    padding: 60px 120px;
    display: flex;
    gap: 100px;
    justify-content: flex-start;
    align-items: center;
}

.hero-desc {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-desc > h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Cinzel', 'Helvetica', serif;
    color: #F9FAF8;
}

.hero-desc > p {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
}

.hero-img {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #F9FAF8;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.hero-img video {
    height: 350px;
	box-shadow: 2px 2px 3px black;
}

.btn {
    background-color: #D4D6B9;
    width: 120px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    color: #394032;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    background-color: #394032;
    color: #D4D6B9;
    border: 2px solid #D4D6B9;
}

/* Information */
h3 {
    text-align: center;
    padding-top: 60px;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-family: 'Cinzel', 'Helvetica', serif;
}

.info-tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    text-align: center;
    padding: 60px 180px;
    font-family: 'Cinzel', 'Helvetica', serif;
    font-weight: 300;
}

.tile {
	display: flex;
	flex-direction: column;
	gap: 10px;
    width: 300px;
}

/* Testimonial */
.testimonial {
    background-color: #E5E7EB;
	display: flex;
	gap:70px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.testimonial-tile {
	background-color: #394032;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 80px 120px;
	padding: 80px 60px;
	border-radius: 11px;
	gap: 70px;

}

.quote {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: #f9faf8;
    padding-bottom: 10px;
    font-family: 'Cinzel', 'Helvetica', serif;
    line-height: 1.4;
}

.quoter {
    text-align: right;
    padding-right: 30px;
	margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #f9faf8;
}

.testimonial img {
	height: 400px;
	box-shadow: 2px 2px 3px black;
	padding: 12px;
	border-radius: 11px;
	background-color: #f9faf8;
}

.btn-testimonial {
	padding: 8px 20px;
}


/* Call to action */
.call-to-action {
    height: 100px;
    background-color: #394032;
    margin: 80px 300px;
    padding: 15px 80px;
    border-radius: 11px;

    display: flex;
    justify-content: space-between;
    font-weight: 300;
    align-items: center;
}

.cta-text {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cta-text h5 {
    font-weight: 900;
    font-family: 'Cinzel', 'Helvetica', serif;
    font-size: 22px;
}

.btn-cta {
    padding: 5px 15px;
}

/* Footer */
footer {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}
